{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'todo/reset_password_process.css' %}">
</head>

<div class="container">
    <div class="heading">
        <h2>Password reset successful</h2>
    </div>

   <div class="welcome_note">
        <p> your password has been successfully reset.
            you can now login with your new password
        </p>
   </div>
    

    <div class="return_to_login">
        <p>
            <a href="{%url 'todo:log_in'%}">
                Go to login
            </a>
        </p>
    </div>
</div>