{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'todo/reset_password_process.css' %}">
</head>

<div class="container">
    <div class="heading">
        <h2>Check your Email</h2>
    </div>

    <div class="welcome_note">
        <p>
            If an account with the email you provided exists, 
            you'll receive a password reset link shortly
        </p>
    </div><br>
    <div class="return_to_login">
        <p><a href="{%url 'todo:log_in'%}">return to login</a></p>
    </div>
        
    
</div>