{% load static %}


<head>
    <!-- <link rel="stylesheet" href="{% static 'todo/reset_password_process.css' %}"> -->
    <link rel="stylesheet" href="{% static 'todo/bootstrap/css/bootstrap.min.css' %}">
  
</head>
<div class="container" >
    <div class="heading">
        <h2> Reset Password</h2>
    </div>
    
    <div class="welcome_note">
        <p>enter your email address and we will send you a link
            to reset your Password 
        </p>
    </div>
    
    <form action="" method="post" class="form">
        <div class="row">
           <div class="col">
                <div class="col">
                    {% csrf_token %}
                    <input type=form.as_p class="form-control" placeholder="enter email">
                </div>
           </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <button type="submit" class="btn btn-success">
                    Reset password
                </button>
            </div>
        </div>
    </form>
</div>



