{% load static %}


<head>
    <link rel="stylesheet" href="{% static 'todo/reset_password_process.css' %}">
  
</head>
<div class="container">
    <div class="heading">
        <h2> Reset Password</h2>
    </div>
    
    <div class="welcome_note">
        <p>enter your email address and we will send you a link
            to reset your Password 
        </p>
    </div>
    
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" class="submit_button">
            Reset password
        </button>
    </form>
</div>



