body {
/* background-color: #121212; Dark background like Spotify */
color: black;
font-family: Arial, sans-serif;
text-align: center;
}

.container{
    width: 500px;
    align-items: center;
    padding: 50px;
    margin: 100px auto 50px auto; /* Centers it and gives top spacing */
   
}
.submit_button{
    width: 100%;
    padding: 15px;
    background-color: #1ed760; /* Spotify green */
    color: black;
    border: none;
    border-radius: 25px; /* Rounded button */
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.submit_button:hover{
    background-color: #1db954;
}                    

.container input{
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.welcome_note{
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.return_to_login a{
    text-decoration: none;
    width: 200px;
    padding: 15px 100;
    margin: 30px;
    background-color: #1ed760; 
    color: black;
    border-radius: 25px; /* Rounded button */
}
